<div class="row justify-content-end">
  <button class="btn btn-primary mr-4" [routerLink]="['/clientes']">Volver </button>
</div>
<div class="card border-light my-3" *ngIf="factura">
  <div class="card-header">Detalle Factura</div>
  <div class="card-body">

    <div class="row">
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <h5>Datos del Cliente</h5>
        <div class="ml-3">
          <p>Nombre: {{factura.cliente.nombre}}</p>
          <p>Apellido: {{factura.cliente.apellido}}</p>
          <p>Email: {{factura.cliente.email}}</p>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <h5>Datos de la Factura</h5>
        <div class="ml-3">
          <p>Folio: {{factura.id}}</p>
          <p>Descripción: {{factura.descripcion}}</p>
          <p>fecha: {{factura.createdAt | date: 'fullDate'}}, {{factura.createdAt | date:'mediumTime'}}</p>
        </div>
      </div>
    </div>

    <table class="table table-hover table-sm my-4">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of factura.items">
          <td>{{item.producto.nombre}}</td>
          <td>{{item.producto.precio | currency:'MXN'}}</td>
          <td>{{item.cantidad}}</td>
          <td>{{item.importe | currency:'MXN'}}</td>
        </tr>
      </tbody>
    </table>

    <div class="row justify-content-end mr-4">
      <h5>Gran Total: {{factura.total | currency:'MXN'}}</h5>
    </div>

  </div>
</div>

<div class="card border-light my-3" *ngIf="factura && factura.observacion">
  <div class="card-header">Observación Factura</div>
  <div class="card-body">
    <p>{{factura.observacion}}</p>
  </div>
</div>